.profileCardContainer {
  box-shadow: 0rem .5rem 1rem rgba(0,0,0,.3);
  background-color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem 2rem;
  min-width: 16rem;
}

.nameContainer {
  display: flex;
  flex-direction: row;
}

.nameSubContainer {
  margin: auto 0.4rem;
}

.name {
  margin: 0;
}

.complement {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
  color: grey;
}